/* --- Global --- */

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* --- Nav --- */

/* --- Jumbotron --- */

/* --- Footer --- */

.fa i {
  font-size: 20px;
}
/* --- Categories --- */

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.img-thumbnail {
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 100%;
}

/* --- Brands --- */
.brand-button {
  padding: 5px;
  margin: 5px;
}


/* --- Login page --- */

/* --- Forms --- */

/* --- Flash messaging --- */

.flash {
  background: #F9F9CC;
  padding: 10px;
  margin: auto;
  list-style: none;
  text-align: center;

}
