* {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
}

h1 {
	font-family: Roboto, Arial, sans-serif;
	font-size: 40px;
	color: #A5C2E6;
	line-height: 50px;
	font-weight: 150;
}

h2 {
	font-size: 25px;
	color: #A5C2E6;
	line-height: 20px;
}

h3 {
	font-size: 18px;
	color: #A5C2E6;
	line-height: 23px;
}
p {
 	font-family: Roboto, Arial, sans-serif;
 	font-size: 16px;
 	color: #AFC2BE;
 	line-height: 24px;
 	font-weight: 300;
 }

strong {
 	font-size: 16px;
 	color: #A5C2E6;
 	line-height: 24px;
 }

a {
 	font-size: 16px;
 	color: #A5C2E6;
 	line-height: 18px;
 }

 .cancel {
	 float: right;
	 clear:both;
 }

 .brand-info {
	 width: 100%;
 }
 
.head {
	color: white;
}

.btn {
	padding: 20px;
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}
.glyphicon {
	margin-right: 10px;
}

.owner {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}

.owner img {
	width: 100px;
	border-radius: 50%;
}

.owner figcaption {
	font-size: 14px;
	color: #A5C2E6;
	font-weight: 200;
	margin-top: -20px;
}

.flash {
	background-color: #FFFF00;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}
