{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row container-fluid">
    <h2>{{brands.name}}</h2>
    <h3> {{category.category}}</h3>
    <br>
</div>
<hr>
<div class="row">
  <div class="col">
    <a href='{{url_for('showCategories')}}'>
      <button class="btn btn-light container-fluid">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to categories
      </button>
    </a>
  </div>
  <div class="col">
    <a href='{{url_for('editCategory', category_id=category.id )}}'>
      <button class="btn btn-secondary container-fluid">
        <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit category
      </button>
    </a>
  </div>
  <div class="col">
    <a href='{{url_for('newBrand', category_id=category.id )}}'>
      <button class="btn btn-secondary container-fluid">
        <i class="fa fa-plus" aria-hidden="true"></i> Add new brand
      </button>
    </a>
  </div>
  <div class="col">
    <a href='{{url_for('deleteCategory', category_id=category.id)}}'>
      <button class="btn btn-danger container-fluid">
        <i class="fa fa-minus" aria-hidden="true"></i> Delete this category
      </button>
    </a>
  </div>
</div>
<br>
<div class="row">
    {% for inc in brands %}
    <!-- brand information -->
    <div class="container-fluid">
        <p class="btn btn-dark btn-lg btn-block" disabled>{{inc.name}}</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{inc.location}}</p>
        <p class="jumbotron"> {{inc.description}}
          <br>
          <br>
          <a class="btn btn-dark btn-lg" target="_blank" href='https://{{inc.website}}'>Visit site</a>
        </p>
        <!-- edit brand button -->
        <a href='{{url_for('editBrand', category_id=category.id, brand_id=inc.id)}}'>
            <button class="btn btn-secondary btn-lg">
                <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
            </button>
        </a>
        <!-- delete brand button -->
        <a href='{{url_for('deleteBrand', category_id=category.id, brand_id=inc.id)}}'>
            <button class="btn btn-danger btn-lg">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </button>
        </a>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}
