{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row container-fluid">
    <h2>Categories</h2>
</div>
<hr>
<!-- Rendering Categories -->
<div class="row">
  {% for category in category %}
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-thumbnail rounded" src="{{category.image}}, category_id = category.id">
        <div class="caption">
          <a href= "{{url_for('showBrands', category_id = category.id)}}">
              <p>{{category.category}}</p>
          </a>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
</div>
<hr>
<!-- Button to add new categories -->
<div class="text-center row container-fluid">
    <a href="{{url_for('newCategory')}}">
        <button class="btn btn-primary btn-block text-center">
            <i class="fa fa-plus" aria-hidden="true"></i> Add new category
        </button>
    </a>
</div>
{% endblock %}
