{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row container-fluid">
    <h2> Are you sure you want to delete this category: <strong>{{category.category}} </strong>?</h1>
</div>
<div class="row container-fluid">
    <form class="container-fluid" action="#" method='post'>
        <div class="form-group">
            <p>This cannot be reversed!</p>
    <!-- Delete -->
            <button type="submit" class="btn btn-warning btn-block btn-lg" id="submit" type="submit">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </button>
        </div>
    </form>
    <!--Cancel -->
    <a class="container-fluid" href="{{ url_for('showCategories' )}}">
        <button class="btn btn-danger btn-block btn-lg">
            <i class="fa fa-times" aria-hidden="true"></i> Cancel
        </button>
    </a>
</div>
{% endblock %}
