{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row">
    <h2>Edit this category: {{category.category}}</h2>
</div>
<div class="row">
    <form class="jumbotron" action="{{ url_for('editCategory', category_id=category.id )}}" method = "post">
        <div class="form-group">
            <label for="name">Name:</label>
            <!--Save Edit-->
            <input type ="text" class="form-control" maxlength="100" name="name" value="{{category.category }}">
            <button type="submit" class="btn btn-primary btn-lg" id="submit" type="submit">
				<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>Save
            </button>
            <!--Cancel, basically a back button-->
            <a href="{{url_for('showCategories')}}">
                <button class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                </button>
            </a>
        </div>
    </form>
</div>
{% endblock %}
