<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The Gig Economy</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	</head>
	<body>
		<!-- container -->
		<div class="container">
			<!--Jumbotron -->
			<div class="container jumbotron">
			  	<h1>What is the gig economy?</h1>
			  	<p>A gig economy is an environment in which temporary positions are common and organizations contract with independent workers for short-term engagements.</p>
			  	<br>
			  	<p>Checkout the categories, explore to see who is participating in the gig economy and discover a platform that fits you.</p>
			</div>

			<!--flash messages -->
			<div class="row container-fluid">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class="flash text-dark">
							{% for message in messages %}
							<li class="flash"> <strong> {{ message }} </strong> </li>
							{% endfor %}
						</ul>
					{% endif %}
        {% endwith %}
			</div> <!-- end flash messages -->
			<!-- app content rendered from templates -->
			{% block content %}
			{% endblock %}
			<hr>
			<!-- Footer -->
			<footer class="container-fluid text-center">
				<div class="footer-like-line">
					<p class="icon-line" id="copyright">Copyright © 2017 Made with love in USA</p>
					<a class="footer-icon" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a class="footer-icon" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a class="footer-icon" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a class="footer-icon" href="https://www.medium.com" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
					<a class="footer-icon" href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
				</div>
			</footer>
			<br>
    </div> <!-- end container -->
    <!--Scripts, jQuery, Google &amp; Facebook sign in dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
		<script src="https://apis.google.com/platform.js" async def></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</body>
</html>
