{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row container-fluid">
    <h2>Add a new brand to this category</h2>
</div>
<div class="row">
    <form class="container-fluid" action="#" method ="post">
        <div class="form-group">
        <!--Add new category -->
            <label for="name">Name:</label>
            <input type="text" class="form-control" maxlength="100" name="name" placeholder="Name of the new brand">
            <br>
            <label for="location">Location:</label>
            <input type ="text" class="form-control" maxlength="50" name="location" placeholder="Example: San Francisco, CA">
            <br>
            <label for="description">Description:</label>
            <textarea class="form-control" maxlength="550" rows="3" name="description" placeholder="Description of the brand. Keep it under 550 characters."></textarea>
            <br>
            <label for="website">Website:</label>
            <input type="text" class="form-control" maxlength="100" name="website" placeholder="Website. Do not include https://">
            <br>
        <!-- Create button -->
            <button type="submit" class="btn btn-primary btn-lg" id="submit" type="submit">
                <i class="fa fa-plus" aria-hidden="true"></i> Create
            </button>
        </div>
    </form>
    <!--Cancel, basically a back button                 -->
        <a class="container-fluid" href='{{ url_for('showCategories')}}'>
            <button class="btn btn-danger btn-lg">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>
        </a>
</div>
{% endblock %}
