{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="row">
    <h2>Add a new brand to this category</h2>
</div>
<div class="row">
    <form class="jumbotron" action="#" method ="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <!--Add new category -->
            <input type="text" class="form-control" maxlength="100" name="name" placeholder="Name of the new brand">
            <label for="location">Location:</label>
            <input type ="text" class="form-control" maxlength="50" name="location" placeholder="Example: San Francisco, CA">
            <label for="description">Description:</label>
            <textarea class="form-control" maxlength="550" rows="3" name="description" placeholder="Description of the brand. Keep it under 550 characters."></textarea>
            <label for="website">Website:</label>
            <input type="text" class="form-control" maxlength="100" name="website" placeholder="Website. Do not include https://">
        <!-- Create button -->
            <button type="submit" class="btn btn-primary btn-lg" id="submit" type="submit">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create
            </button>
        <!--Cancel, basically a back button 				-->
            <a href='{{ url_for('showCategories')}}'>
                <button class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-trash"aria-hidden="true"></span>Cancel
				</button>
            </a>
        </div>
    </form>
</div>
{% endblock %}
