{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<h2>Categories</h2>
<!-- Rendering Categories -->
<div class="row container-fluid">
  {% for category in category %}
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-thumbnail rounded" src="{{category.image}}, category_id = category.id">
        <div class="caption">
          <a href = "{{url_for('showBrands', category_id = category.id)}}">
              <p>{{category.category}}</p>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
